/******************** Intro - Mobil *********************/

.right {
  text-align: right;
}

.right h2 {
  font-size: 1.8rem;
  margin-top: 10px;
}

.right h3 {
  margin-top: 30px;
  font-size: 6rem;
}

.selfie_img {
  width: 300px;
}

/******************** Case - Mobil *********************/

.green {
  text-align: center;
}

.grid img {
  margin-bottom: 30px;
  margin-top: 30px;
}

.cases h2 {
  padding-top: 50px;
}

.cases_grid h3 {
  margin-bottom: 20px;
}

.case_img img {
  margin-top: -10px;
  height: 120px;
}

.text_box {
  max-width: 300px;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 50px;
}

/**************** Kernekompetencer - Mobil ****************/

.skills h2 {
  text-align: center;
  padding-top: 100px;
}

.skills_background {
  background-image: url(imgs/coding.png);
  color: white;
  padding-bottom: 200px;
  background-size: cover;
  background-attachment: fixed;
}

.skills_box1 {
  background-color: #71090b;
  width: 430px;
  height: 280px;
  margin: 0 auto;
  margin-top: 80px;
  padding-top: 60px;
  padding-left: 20px;
}

.skills_box2 {
  background-color: #71090b;
  width: 430px;
  height: 280px;
  margin: 0 auto;
  margin-top: 80px;
  padding-top: 60px;
  padding-left: 20px;
}

.skills_box1 ul {
  margin: 30px;
}

.skills_box2 ul {
  margin: 30px;
}

/******************** Om mig - Mobil *********************/

.om_header h2 {
  text-align: center;
  margin-top: 50px;
}

.om_mig p {
  margin-top: 20px;
  padding: 20px;
}

.om_mig img {
  margin-top: 30px;
}

/******************** Kontakt - Mobil *********************/

.kontakt_overskrift {
  padding-top: 50px;
}

.li_space {
  margin-top: 30px;
  list-style: none;
  padding-left: 0;
}

.kontakt_overskrift h2 {
  padding-left: 30px;
}

.information h3 {
  padding: 0;
}

.information {
  padding-left: 30px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.prof-mig_img {
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (min-width: 750px) {
  /******************** Intro - Desktop *********************/

  .right h1 {
    font-size: 4.6rem;
    margin-top: 80px;
  }

  .right h2 {
    font-size: 2.5rem;
  }

  .right h3 {
    font-size: 7rem;
  }

  .selfie_img {
    margin-top: -180px;
    width: 400px;
  }

  /******************** Case - Desktop *********************/

  .green {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    border: none;
  }

  .cases_grid {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  /*************** Kernekompetencer - Desktop *****************/

  .skills_background {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    border: none;
  }

  .skills_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
  }

  .skills_box1 {
    margin-right: 80px;
  }

  .skills_box2 {
    margin-left: 80px;
  }

  /******************** Om mig - Desktop *********************/

  .om_mig {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .om_mig p {
    margin: 0 auto;
    margin-top: 30px;

    &&:last-child {
      margin-bottom: 50px;
    }
  }

  .mig_img {
    order: -1;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  /******************** Kontakt - Desktop *********************/

  .kontakt_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .prof-mig_img {
    width: 320px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
